*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section{
  height: 766px;
  width: 100%;
  background-color: #1e90ff;
  animation: myany 2s infinite;
}

@keyframes myany {
  0% {background-color: #FF0000;}
  20% {background-color: #00FF67;}
  40% {background-color: #00FBFF;}
  60% {background-color: #2F00FF;}
  80% {background-color: #FF00BE;}
  100% {background-color: #FEFF00;}
}